@import "tailwindcss";

@font-face {
    font-family: poppins;
    src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 500;
}

@theme {
    --font-poppins-bold: poppins;
    --color-rpl-blue: #1783FF;
    --color-rpl-red: #F90015;
}